.glassy_cards_container {
    height: 91vh;
    background: rgb(0,3,36);
    background: linear-gradient(90deg, rgba(0,3,36,0.8940710073091737) 0%, rgba(118,9,121,1) 35%, rgba(255,72,0,1) 100%);
    border-radius: 25px;
    padding: 20px;
    overflow: hidden;
}

.container {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 25px;
    grid-template-areas:
    "box1 box1 box3"
    "box2 box2 box3";
}

.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}

.box1, .box2, .box3 {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    /*background-color: white;*/
    color: #e5e1e1;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
}
/* animated text */
.three-d {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
}
